/* LoginPage.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  background-color: #f5f5f5;
}

.card {
  background: #ffffff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

.field {
  margin-bottom: 1.5em;
}

.field label {
  display: block;
  margin-bottom: 0.5em;
}

.field input {
  width: 100%;
  padding: 0.5em;
}

.button {
  margin-top: 1em;
  width: 100%;
}

.error-message{
  color:firebrick
}
