/* My_appointments.css */
.appointments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
.custom-botton {
  margin-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
  /* Otros estilos que necesites */
}

.back-link, .new-appointment {
  /* Estilos específicos para estos elementos si son necesarios */
}
